body {
  font-family: 'Times New Roman';
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  padding: 7em;
  height: calc(100vh - 14em);
  color: white;
  scroll-snap-align: start;
}

section:nth-of-type(1) {
  background: #60af15;
}

section:nth-of-type(2) {
  background: #158baf;
}

section:nth-of-type(3) {
  background: #493548;
}

section:nth-of-type(4) {
  background: #4B4E6D;
}

section:nth-of-type(5) {
  background: #6A8D92;
}

section:nth-of-type(6) {
  background: #80B192;
}

section:nth-of-type(7) {
  background: #A1E887;
}

section:nth-of-type(8) {
  background: #1a3bc1;
}

section h3 {
  font-size: 3em;
}